<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HelpMe.mapper.TasksMapper">

    <select id="getAllByStatusTasks" resultType="com.HelpMe.Entity.core.Task">
        SELECT id,image_url,name,status,description,initiator_id,assignee_id,type,price,progress FROM task
                 WHERE status = #{status} AND initiator_id = #{userId}
                ORDER BY date DESC
    </select>
    <select id="getAllByTypeTasks" resultType="com.HelpMe.Entity.core.Task">
        SELECT t.id,image_url,name,status,description,initiator_id,assignee_id,type,price,progress
        FROM task t
                 JOIN task_category tc ON CONCAT(',', #{type}, ',') REGEXP CONCAT(',', tc.id, ',')
        WHERE tc.category = #{type} AND t.status = 2
        ORDER BY t.date DESC
        LIMIT 20 OFFSET #{pageNum};
    </select>
    
    <select id="getByKeyTasks" resultType="com.HelpMe.Entity.core.Task">
        SELECT * FROM (
                          SELECT t.id AS id, t.date AS date, t.image_url AS image_url, t.name AS name, t.status AS status, t.description AS description, t.initiator_id AS initiator_id, t.assignee_id AS assignee_id, t.type AS type, t.price AS price, t.progress AS progress
                          FROM task t
                                   JOIN t_user tu ON t.initiator_id = tu.id
                          WHERE tu.nick_name LIKE CONCAT(#{key}, '%')
                             OR t.name LIKE CONCAT('%', #{key}, '%')
                             OR t.description LIKE CONCAT('%', #{key}, '%')
                             OR t.type LIKE CONCAT('%', #{key}, '%')
                          ORDER BY t.date DESC
                          LIMIT 20 OFFSET #{pageNum}
                      ) AS result1
        UNION
        SELECT * FROM (
                          SELECT t.id AS id, t.date AS date, t.image_url AS image_url, t.name AS name, t.status AS status, t.description AS description, t.initiator_id AS initiator_id, t.assignee_id AS assignee_id, t.type AS type, t.price AS price, t.progress AS progress
                          FROM task t
                                   JOIN t_user tu ON t.assignee_id = tu.id
                          WHERE tu.nick_name LIKE CONCAT(#{key}, '%')
                             OR t.name LIKE CONCAT('%', #{key}, '%')
                             OR t.description LIKE CONCAT('%', #{key}, '%')
                             OR t.type LIKE CONCAT('%', #{key}, '%')
                          ORDER BY t.date DESC
                          LIMIT 20 OFFSET #{pageNum}
                      ) AS result2
        ORDER BY date DESC
        LIMIT 20 OFFSET #{pageNum};

    </select>
    
    <select id="queryByTypeWith" resultType="com.HelpMe.Entity.core.Task">
        SELECT id,assignee_id,image_url,name,status,description,initiator_id,assignee_id,type,price,progress
        FROM task
        WHERE 1 = 1
        <if test="type == 1 or type == 2 or type == 3">
            AND assignee_id = #{userId}
        </if>
        <if test="type == 5 or type == 6 or type == 7 or type == 4">
            AND initiator_id = #{userId}
        </if>
        <if test="type != 4">
            AND status = #{type}
        </if>
    </select>
    

</mapper>
